/* Titllium Web */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: #2E2E2F;
}

h1 {
  color: #D1D6D8;
  font-size: 150px;
  font-family: "Titillium Web";
  font-weight: 700;
  font-style: bold;
  margin: 0px 50px;
}

h2 {
  color: #D1D6D8;
  font-size: 70px;
  font-family: "Open Sans";
  font-weight: 700;
}

li {
  color: #2E2E2F;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 700;
}

p {
  color: #D1D6D8;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 700;
}

h3 {
  color: #D1D6D8;
  font-size: 40px;
  font-family: "Open Sans";
  font-weight: 700;
}

.layoutRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subheading {
  font-size: 50px;
}

/* NAV BAR */
.navBar {
  width: calc(100vw - 20px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 10px;
  position: fixed;
  top: 0;
  background-color: #E63745;
  z-index: 999;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #2E2E2F;
}

.link {
  display: inline;
  text-decoration: none;
  padding: 0px 20px;
}

.link:hover {
  color: #D1D6D8;
  cursor: pointer;
}

.contactLink {
  background-color: #777A7E;
  border-radius: 10px;
  padding: 5px 20px;
}

.contactLink:hover {
  color: #2E2E2F;
  background-color: #777A7E;
  box-shadow: 2px 2px 5px #2E2E2F;
}


.content {
  margin-top: 50px;
}

/* LANDING */
.landing {
  height: calc(100vh - 50px);
  width: 100vw;
  opacity: 100%;
}

.landingText {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 1200px;
  opacity: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jobTitle {
  margin: 0;
  margin-bottom: 150px;
}


/* PROJECTS */

.imageBox {
  height: 300px;
  aspect-ratio: 16/9;
  background-color: #E63745;
  border-radius: 10px;
  margin: 50px;
  margin-right: 100px;
}

/* SKILLS */
.skillsHeading {
  padding-top: 50px;
}

.skills {
  width: calc(100vw - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: hsla(197, 8%, 83%, 0.1);
  margin: 20px;
  border-radius: 20px;
}

.skillsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

/* PROGRAMMING LANGUAGES */

.programmingLanguages {
  width: calc(100vw - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: hsla(197, 8%, 83%, 0.1);
  margin: 20px;
  border-radius: 20px;
}


